.card {
    margin-top: 30px;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

.nuevo-button {
    margin-right: 30px;
}

.pa-button{
    padding: 30px;
    margin-top: 30px;
}

::ng-deep .p-datatable-header {
    border: 1px solid #dee2e6;
    border-radius: 3px; 
}

.search-input {
    margin-right: 30px;
}

.space {
    margin-right: 20px;
}