<div class="container mt-5">
    <div class="p-card p-card-danger">
        <div class="p-card-header">
            <h4 class="p-card-title">Acceso no autorizado</h4>
        </div>
        <div class="p-card-body">
            <p class="p-card-text">
                No tiene permiso para acceder a esta URL.
            </p>
            <hr>
            <p class="p-card-text">
                Por favor, contacte al administrador del sistema para obtener ayuda.
            </p>
        </div>
    </div>
</div>
