<div class="container mt-5">
    <div class="p-grid p-justify-center">
        <div class="p-col-8">
            <div class="p-card p-card-warn">
                <span class="pi pi-exclamation-triangle" style="font-size: 3rem; margin-bottom: 1rem;"></span>
                <h1 class="p-text-center">404 Not Found</h1>
                <div class="p-card-body">
                    <p class="p-text-center">
                        La página que estás buscando no se ha encontrado.
                    </p>
                    <p class="p-text-center">
                        <a routerLink="/home" class="p-link">Volver a la página de inicio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
