<header>
    <h1>Bienvenido al Portal de Salud</h1>
</header>

<div class="card flex justify-content-center">
    <p-card >
        <div class="p-grid">
            <div class="p-col-6">
                <div class="card">
                    <h2>Funcionalidades para Pacientes</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">Creación y gestión de Perfiles de Pacientes: Los pacientes pueden crear perfiles donde pueden proporcionar información básica, como nombre, edad, historial médico, etc. y modificar el suyo</li>
                        <li class="p-list-group-item">Historial de visitas de paciente: Los pacientes pueden acceder y revisar su historial de visitas médicas anteriores.</li>
                        <li class="p-list-group-item">Consulta de medicamentos y enfermedades: Los pacientes pueden obtener información sobre medicamentos y enfermedades.</li>                    
                    </ul>
                </div>
            </div>
            <div class="p-col-6">
                <div class="card">
                    <h2>Funcionalidades para Profesionales de la Salud</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">Creación y gestión de Perfiles de Médicos: Los médicos pueden crear perfiles donde pueden agregar su información profesional, especialidad, horarios de consulta, etc. y modificar el suyo</li>
                        <li class="p-list-group-item">Gestión de Citas: Los médicos pueden ver y gestionar las citas programadas con los pacientes, así como confirmar, reprogramar o cancelar citas según sea necesario.</li>
                        <li class="p-list-group-item">Consulta de medicamentos y enfermedades: Los pacientes pueden obtener información sobre medicamentos y enfermedades.</li>                    
                    </ul>
                </div>
            </div>
        </div>
    </p-card>
</div>