<div class="card">
    <div class="p-grid p-justify-center p-align-center">
        <div>
            <ng-container *ngIf="(error$ | async); else newOrDetallePaciente" class="mt-4">
                <div class="alert alert-danger" role="alert">
                    <strong>Ha habido un error en la carga de datos</strong>
                </div>
            </ng-container>

            <ng-template #newOrDetallePaciente>
                <ng-container *ngIf="isNewPaciente">
                    <h2>Nuevo Paciente</h2>
                </ng-container>
                <ng-container *ngIf="!isNewPaciente">
                    <h2>Detalle de {{ detailPacienteForm.get('CorreoElectronico').value }}</h2>
                </ng-container>

                <form *ngIf="isNewPaciente" [formGroup]="newPacienteForm" (ngSubmit)="onSubmit()">
                    <div class="form-field">
                        <label for="CorreoElectronico" class="form-label">Correo del Paciente</label>
                        <input formControlName="CorreoElectronico" id="CorreoElectronico" type="email"
                            class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Contrasena" class="form-label">Contraseña</label>
                        <input formControlName="Contrasena" id="Contrasena" type="password" class="form-input"
                            pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Nombre" class="form-label">Nombre del Paciente</label>
                        <input formControlName="Nombre" id="Nombre" type="text" class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Apellidos" class="form-label">Apellidos del Paciente</label>
                        <input formControlName="Apellidos" id="Apellidos" type="text" class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Edad" class="form-label">Edad</label>
                        <input formControlName="Edad" id="Edad" type="number" class="form-input" pInputText min="1" max="200">
                    </div>
                    <button pButton class="btn btn-success mt-3" [disabled]="newPacienteForm.invalid"
                        type="submit">Crear</button>
                    <button type="button" pButton class="back-button" (click)="goBack()">
                        <i class="pi pi-arrow-left"></i>
                    </button>
                </form>

                <form *ngIf="!isNewPaciente" [formGroup]="detailPacienteForm" (ngSubmit)="onSubmit()">
                    <div class="form-field">
                        <label for="CorreoElectronico" class="form-label">Correo Electronico</label>
                        <input formControlName="CorreoElectronico" id="CorreoElectronico" type="email"
                            class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input formControlName="Nombre" id="Nombre" type="text" class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Apellidos" class="form-label">Apellidos</label>
                        <input formControlName="Apellidos" id="Apellidos" type="text" class="form-input" pInputText>
                    </div>
                    <div class="form-field">
                        <label for="Edad" class="form-label">Edad</label>
                        <input formControlName="Edad" id="Edad" type="number" class="form-input" pInputText>
                    </div>
                    <button pButton class="btn btn-success mt-3"
                        [disabled]="detailPacienteForm.invalid || !detailPacienteForm.dirty" type="submit">Guardar
                        cambios</button>
                    <!-- Botón para regresar -->
                    <button type="button" pButton class="back-buttonEdit" (click)="goBack()">
                        <i class="pi pi-arrow-left"></i>
                    </button>
                </form>

            </ng-template>
        </div>
    </div>

    <!-- Modal de error crear -->
    <p-dialog header="Error al crear el nuevo paciente" [(visible)]="showErrorCrearModal">
        <p>{{ errorMessage }} <i class="pi pi-exclamation-triangle"></i></p>
        <button pButton type="button" label="Cerrar" (click)="closeErrorModal()"></button>
    </p-dialog>

    <!-- Modal de success crear -->
    <p-dialog header="Paciente registrado" [(visible)]="crearSuccessModal">
        <p>Se ha registrado al paciente correctamente <i class="pi pi-check-circle"></i></p>
        <button pButton type="button" label="Cerrar" (click)="closeSuccessModal()"></button>
    </p-dialog>

    <!-- Modal de error editar -->
    <p-dialog header="Error al editar el paciente" [(visible)]="showEditarErrorModal">
        <p>{{ errorMessage }} <i class="pi pi-exclamation-triangle"></i></p>
        <button pButton type="button" label="Cerrar" (click)="closeErrorModal()"></button>
    </p-dialog>

    <!-- Modal de success editar -->
    <p-dialog header="Paciente editado" [(visible)]="showEditarSuccessModal">
        <p>Se ha editado al paciente correctamente <i class="pi pi-check-circle"></i></p>
        <button pButton type="button" label="Cerrar" (click)="closeSuccessModal()"></button>
    </p-dialog>
</div>