.card {
    margin-top: 30px;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 70vh;
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.back-button {
    position: absolute;
    left: 26.7%;
    transform: translateX(-50%);
}

.back-buttonEdit {
    position: absolute;
    left: 26.7%;
    transform: translateX(-50%);
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
    width: 50%;
    text-align: left;
}

.form-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media screen and (max-width: 768px) {
    .back-button {
        bottom: 4%;
        left: 22%;
    }

    .form-field {
        width: 80%;
        margin: 0 auto 20px;
    }

    .form-label {
        width: 80%;
    }

    .form-input {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .back-button {
        bottom: .5%;
    }

    .back-buttonEdit {
        left: 18px;
        transform: none;
    }

    .form-field {
        width: 80%;
        margin: 0 auto 20px;
    }

    .form-label {
        width: 80%;
    }

    .form-input {
        width: 80%;
    }

    .card {
        max-height: 100vh;
    }
}
